# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
.env

# React build
/build/
.DS_Store

# Logs
logs
*.log
log/**/*.log

# MongoDB
/data/db/

# Python (Flask/FastAPI)
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
Thumbs.db
.DS_Store
